:root {
  --main-font: 'DM Sans', sans-serif;
  --accent-font: 'Titan One', sans-serif;
  --accent-bg-color: #ffb8ca;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #fff5f6;
  --white-text-color: #ffffff;
  --dark-accent-color: #d41443;
  --light-accent-color: #ffa5ba;
  --primary-text-color: #000000;
  --secondary-text-color: #907e82;
  --socials-icon-color: #fea5bb;
  --dark-btn-hover: #d41342;
  --light-btn-hover: #ecebeb;
  --dots-color: #d9d9d9;
  --card-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  --btn-radius: 22px;
  --card-radius: 24px;
  --card-label-radius: 6px;
  --coffee-color: #f0d1a5;
  --pistachio-color: #c2e297;
  --pseudo-color: #e1e1e1;
  --menu-border-color: #e18298;
  --menu-bg-color: #e17992;
  --transition-param: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-tr-param: 250ms cubic-bezier(0.17, 0.67, 0.96, 0.48);
}
