<section class="container">
  <span class="about_label">tradition and love</span>
  <h1 class="about_title">how it’s made?</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla repellat totam perferendis earum
    enim! Molestias quibusdam dolores asperiores sequi nemo?
  </p>
  <picture>
    <source
      srcset="./images/desktop/recipe.jpg 1x, ./images/desktop/recipe@2x.jpg 2x"
      media="(min-width: 1200px)"
      type="image/jpeg"
    />
    <source
      srcset="./images/tablet/recipe.jpg 1x, ./images/tablet/recipe@2x.jpg 2x"
      media="(min-width: 768px)"
      type="image/jpeg"
    />
    <source
      srcset="./images/mobile/recipe.jpg 1x, ./images/mobile/recipe@2x.jpg 2x"
      media="(max-width: 767px)"
      type="image/jpeg"
    />
    <img src="./images/mobile/recipe.jpg" alt="фото коровы" width="280" />
  </picture>

  <div>
    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
    eget, egestas eros. Maecenas eleifend erat at justo fringilla.
  </div>
  <div>
    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
    imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
    Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
  </div>
  <button type="button">Read more</button>
</section>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, iure. Pariatur ab enim
  voluptatibus id maiores laudantium sunt dolores accusamus quo repellendus eligendi officia est
  quia libero, fugit quas unde deleniti modi veniam odit cum nulla exercitationem laboriosam!
  Obcaecati sit dolorum provident id vel itaque earum delectus, architecto ut officia.
</p>
