<section class="advantages" n id="advantages">
  <h2 class="visually-hidden">Advantages</h2>
  <div class="container">
    <ul class="advantages_list">
      <li class="advantages_item">
        <div class="advantages_bucket">
          <h2 class="advantages_title">721</h2>
          <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
      </li>
      <li class="advantages_item">
        <div class="advantages_apple">
          <h2 class="advantages_title">16kg</h2>
          <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
      </li>
      <li class="advantages_item">
        <div class="advantages_heart">
          <h2 class="advantages_title">84</h2>
          <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
