<section class="contacts-section">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="card-set">
      <li class="card">
        <p>CAFE</p>
        <div>
          <h3>Chicago</h3>
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div>
          <h4>Monday - Friday</h4>
          <time>06:00 AM - 10:00 PM</time>
          <h4>Saturday - Sunday</h4>
          <time>08:00 AM - 16:00 PM</time>
        </div>
        <div>
          <address>
            <ul>
              <li>
                <a href="tel:+610383766284">+61(0) 383 766 284</a>
              </li>
              <li>
                <a href="mailto:noreply@envato.com">mailto:noreply@envato.com</a>
              </li>
            </ul>
          </address>
        </div>
      </li>
      <li class="card">
        <p>FOOD TRUCK</p>
        <div>
          <h3>Los Angeles</h3>
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div>
          <h4>Monday - Friday</h4>
          <time>06:00 AM - 10:00 PM</time>
          <h4>Saturday - Sunday</h4>
          <time>08:00 AM - 16:00 PM</time>
        </div>
        <div>
          <address>
            <ul>
              <li>
                <a href="tel:+610383766284">+61(0) 383 766 284</a>
              </li>
              <li>
                <a href="mailto:noreply@envato.com">mailto:noreply@envato.com</a>
              </li>
            </ul>
          </address>
        </div>
      </li>
      <li class="card">
        <p>CAFE</p>
        <div>
          <h3>New York</h3>
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div>
          <h4>Monday - Friday</h4>
          <time>06:00 AM - 10:00 PM</time>
          <h4>Saturday - Sunday</h4>
          <time>08:00 AM - 16:00 PM</time>
        </div>
        <div>
          <address>
            <ul>
              <li>
                <a href="tel:+610383766284">+61(0) 383 766 284</a>
              </li>
              <li>
                <a href="mailto:noreply@envato.com">mailto:noreply@envato.com</a>
              </li>
            </ul>
          </address>
        </div>
      </li>
    </ul>
    <button></button>
    <button></button>
  </div>
</section>
