<section class="contacts-section">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts-set">
      <li class="contacts-set__item">
        <p>CAFE</p>
        <div>
          <h3>Chicago</h3>
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div>
          <h4>Monday - Friday</h4>
          <p>06:00 AM - 10:00 PM</p>
          <h4>Saturday - Sunday</h4>
          <p>08:00 AM - 16:00 PM</p>
        </div>
        <div>
          <address>
            <a href="tel:+610383766284">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com">mailto:noreply@envato.com</a>
          </address>
        </div>
      </li>
      <li class="contacts-set__item">
        <p>FOOD TRUCK</p>
        <div>
          <h3>Los Angeles</h3>
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div>
          <h4>Monday - Friday</h4>
          <p>06:00 AM - 10:00 PM</p>
          <h4>Saturday - Sunday</h4>
          <p>08:00 AM - 16:00 PM</p>
        </div>
        <div>
          <address>
            <a href="tel:+610383766284">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com">mailto:noreply@envato.com</a>
          </address>
        </div>
      </li>
      <li class="contacts-set__item">
        <p>CAFE</p>
        <div>
          <h3>New York</h3>
          <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div>
          <h4>Monday - Friday</h4>
          <p>06:00 AM - 10:00 PM</p>
          <h4>Saturday - Sunday</h4>
          <p>08:00 AM - 16:00 PM</p>
        </div>
        <div>
          <address>
            <a href="tel:+610383766284">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com">mailto:noreply@envato.com</a>
          </address>
        </div>
      </li>
    </ul>
    <div class="contacts-button">
      <button class="btn btn--dark" type="button">
        Our Locations
        <svg class="contacts-button-light">
          <use href="./images/icons-sprite.svg#icon-next"></use>
        </svg>
      </button>
      <button class="btn btn--light" type="button">
        Franchise
        <svg class="contacts-button-dark">
          <use href="./images/icons-sprite.svg#icon-next"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
