<div class="footer">
<div class="footer__container">
   <h1 class="footer__title">homemade ice cream made <span class="footer__title-accept">with passion</span></h1>
   <div class="icon-social-links-footer">
    <ul class="social-links-list">
        <li class="social-links-list__item">
            <a href="#" class="social-links-list__link">
                <svg class="social-links-list__icon">
                    <use href="./images/sprite-icons.svg#icon-git-hub"></use>
                </svg>
            </a>
        </li>
        <li class="social-links-list__item">
            <a href="#" class="social-links-list__link">
                <svg class="social-links-list__icon">
                    <use href="./images/sprite-icons.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
        <li class="social-links-list__item">
            <a href="#" class="social-links-list__link">
                <svg class="social-links-list__icon">
                    <use href="./images/sprite-icons.svg#icon-facebook"></use>
                </svg>
            </a>
        </li>
    </ul>
   </div>
   <div class="footer__contacts">
       <p class="footer__contacts-text">Feel free to contact <a href="tel:+610383766284" class="footer__contacts-tel">+61 (0) 383 766 284</a></p>
   </div>
</div>
<div class="footer__discription">© 2019 - IceCream. All Rights Reserved. </div>
</div>