<div class="footer">
  <div class="footer__container">
    <div class="footer__name">
      <h3 class="footer__name__title">HOMEMADE ICE CREAM MADE</h3>
      <p class="footer__name__text">WITH PASSION</p>
    </div>
    <div class="icon-social-links-footer">
      <ul class="social-links-list">
        <li class="social-links-list__item">
          <a href="#" class="social-links-list__link">
            <svg class="social-links-list__icon">
              <use href="./images/sprite-icons.svg#icon-git-hub"></use>
            </svg>
          </a>
        </li>
        <li class="social-links-list__item">
          <a href="#" class="social-links-list__link">
            <svg class="social-links-list__icon">
              <use href="./images/sprite-icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social-links-list__item">
          <a href="#" class="social-links-list__link">
            <svg class="social-links-list__icon">
              <use href="./images/sprite-icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <address class="footer__address">
        <a href="tel:+61-0-383-766-284" class="footer__address__link"
          ><span class="footer__address__text">Feel free to contact</span>
          <span class="footer__address__tel">+61 (0) 383 766 284</span></a
        >
      </address>
    </div>
  </div>
  <div class="footer__discription">
    <p class="footer__discription-text">&copy; 2019 - IceCream. All Rights Reserved.</p>
  </div>
</div>
