<section id="gallery" class="gallery">
    <h2 class="visually-hidden">Галерея</h2>
    <div class="container gallery__container">
        <ul class="list gallery__envelope">
            
            <li class="gallery__column">
                <div class="gallery__item">
                    <picture>
                        <source media="(min-width: 1200px)" srcset="./images/gallery/gallery01_desktop.jpg 1x, ./images/gallery/gallery01@2x_desktop.jpg 2x"/>
                        <source media="(min-width: 768px)" srcset="./images/gallery/gallery01_tablet.jpg 1x, ./images/gallery/gallery01@2x_tablet.jpg 2x"/>
                        <img srcset="./images/gallery/gallery01_mobile.jpg 1x, ./images/gallery/gallery01@2x_mobile.jpg 2x" src="./images/gallery/gallery01_desktop.jpg" alt="Зелёное мороженое в деревянной тарелке"/>
                    </picture>
                </div>
            </li>

            <li class="gallery__column">
                <div class="gallery__item">
                    <picture>
                        <source media="(min-width: 1200px)" srcset="./images/gallery/gallery02_desktop.jpg 1x, ./images/gallery/gallery02@2x_desktop.jpg 2x"/>
                        <source media="(min-width: 768px)" srcset="./images/gallery/gallery02_tablet.jpg 1x, ./images/gallery/gallery02@2x_tablet.jpg 2x"/>
                        <img srcset="./images/gallery/gallery02_mobile.jpg 1x, ./images/gallery/gallery02@2x_mobile.jpg 2x" src="./images/gallery/gallery02_desktop.jpg" alt="Мороженое рожок в руке"/>
                    </picture>
                </div>
                <div class="gallery__item">
                    <picture>
                        <source media="(min-width: 1200px)" srcset="./images/gallery/gallery03_desktop.jpg 1x, ./images/gallery/gallery03@2x_desktop.jpg 2x"/>
                        <source media="(min-width: 768px)" srcset="./images/gallery/gallery03_tablet.jpg 1x, ./images/gallery/gallery03@2x_tablet.jpg 2x"/>
                        <img srcset="./images/gallery/gallery03_mobile.jpg 1x, ./images/gallery/gallery03@2x_mobile.jpg 2x" src="./images/gallery/gallery03_desktop.jpg" alt="Мороженое на палочке с клубникой"/>
                    </picture>
                </div>
            </li>

            <li class="gallery__column">
                <div class="gallery__item gallery__item--big-size">
                    <picture>
                        <source media="(min-width: 1200px)" srcset="./images/gallery/gallery04_desktop.jpg 1x, ./images/gallery/gallery04@2x_desktop.jpg 2x"/>
                        <source media="(min-width: 768px)" srcset="./images/gallery/gallery04_tablet.jpg 1x, ./images/gallery/gallery04@2x_tablet.jpg 2x"/>
                        <img srcset="./images/gallery/gallery04_mobile.jpg 1x, ./images/gallery/gallery04@2x_mobile.jpg 2x"
                        src="./images/gallery/gallery04_desktop.jpg" alt="Много мороженого с ягодами"/>
                    </picture>
                </div>
                <div class="gallery__item gallery__item--norm-size">
                    <picture>
                        <source media="(min-width: 1200px)" srcset="./images/gallery/gallery05_desktop.jpg 1x, ./images/gallery/gallery05@2x_desktop.jpg 2x"/>
                        <source media="(min-width: 768px)" srcset="./images/gallery/gallery05_tablet.jpg 1x, ./images/gallery/gallery05@2x_tablet.jpg 2x"/>
                        <img srcset="./images/gallery/gallery05_mobile.jpg 1x, ./images/gallery/gallery05@2x_mobile.jpg 2x"
                        src="./images/gallery/gallery05_desktop.jpg" alt="Девушка с мороженым"/>
                    </picture>
                </div>
            </li>

            <li class="gallery__column gallery__column--shift1">
                <div class="gallery__item">
                    <picture>
                        <source media="(min-width: 1200px)" srcset="./images/gallery/gallery06_desktop.jpg 1x, ./images/gallery/gallery06@2x_desktop.jpg 2x"/>
                        <source media="(min-width: 768px)" srcset="./images/gallery/gallery06_tablet.jpg 1x, ./images/gallery/gallery06@2x_tablet.jpg 2x"/>
                        <img srcset="./images/gallery/gallery06_mobile.jpg 1x, ./images/gallery/gallery06@2x_mobile.jpg 2x"
                        src="./images/gallery/gallery06_desktop.jpg" alt="Мороженое с ягодами в стеклянной посуде"/>
                    </picture>
                </div>
                <div class="gallery__item">
                    <picture>
                        <source media="(min-width: 1200px)" srcset="./images/gallery/gallery07_desktop.jpg 1x, ./images/gallery/gallery07@2x_desktop.jpg 2x"/>
                        <source media="(min-width: 768px)" srcset="./images/gallery/gallery07_tablet.jpg 1x, ./images/gallery/gallery07@2x_tablet.jpg 2x"/>
                        <img srcset="./images/gallery/gallery07_mobile.jpg 1x, ./images/gallery/gallery07@2x_mobile.jpg 2x"
                        src="./images/gallery/gallery07_desktop.jpg" alt="Мороженое рожок на фоне улицы"/>
                    </picture>
                </div>
            </li>

            <li class="gallery__column gallery__column--shift2">
                <div class="gallery__item">
                    <picture>
                        <source media="(min-width: 1200px)" srcset="./images/gallery/gallery08_desktop.jpg 1x, ./images/gallery/gallery08@2x_desktop.jpg 2x"/>
                        <source media="(min-width: 768px)" srcset="./images/gallery/gallery08_tablet.jpg 1x, ./images/gallery/gallery08@2x_tablet.jpg 2x"/>
                        <img srcset="./images/gallery/gallery08_mobile.jpg 1x, ./images/gallery/gallery08@2x_mobile.jpg 2x"
                        src="./images/gallery/gallery08_desktop.jpg" alt="Собаке дают лизнуть мороженое"/>
                    </picture>
                </div>
                <div class="gallery__item">
                    <picture>
                        <source media="(min-width: 1200px)" srcset="./images/gallery/gallery09_desktop.jpg 1x, ./images/gallery/gallery09@2x_desktop.jpg 2x"/>
                        <source media="(min-width: 768px)" srcset="./images/gallery/gallery09_tablet.jpg 1x, ./images/gallery/gallery09@2x_tablet.jpg 2x"/>
                        <img srcset="./images/gallery/gallery09_mobile.jpg 1x, ./images/gallery/gallery09@2x_mobile.jpg 2x"
                        src="./images/gallery/gallery09_desktop.jpg" alt="Стакан кофе с мороженым"/>
                    </picture>
                </div>
            </li>

            <li class="gallery__column gallery__column--shift3">
                <div class="gallery__item">
                    <picture>
                        <source media="(min-width: 1200px)" srcset="./images/gallery/gallery10_desktop.jpg 1x, ./images/gallery/gallery10@2x_desktop.jpg 2x"/>
                        <source media="(min-width: 768px)" srcset="./images/gallery/gallery10_tablet.jpg 1x, ./images/gallery/gallery10@2x_tablet.jpg 2x"/>
                        <img srcset="./images/gallery/gallery10_mobile.jpg 1x, ./images/gallery/gallery10@2x_mobile.jpg 2x"
                        src="./images/gallery/gallery10_desktop.jpg" alt="Пироженое на кувшине с молоком"/>
                    </picture>
                </div>
            </li>

        </ul>
    </div>
</section>