<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="button-close" data-modal-close>
      <svg class="icon-close-btn" width="11" height="11">
        <use href="./images/sprite-icons.svg#icon-close"></use>
      </svg>
      <h3 class="about_title title">how it’s made?</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus expedita voluptas
        reprehenderit libero. Illum facere doloribus nihil sint, unde commodi exercitationem tempora
        tenetur, fuga quo, laudantium sed incidunt eligendi libero repellat repellendus. Itaque odit
        non commodi reiciendis officia. Dolor atque sint incidunt officia accusamus quas optio
        voluptatibus illo, repudiandae temporibus eos unde quaerat explicabo a voluptates
        repellendus cumque exercitationem sapiente dicta. Excepturi veniam adipisci, nemo quam minus
        fugit mollitia deserunt, numquam inventore soluta, iste facilis optio ea impedit odit et
        culpa maiores ex fugiat exercitationem commodi vel ratione! Quidem ratione odio rem magnam
        magni dolores commodi dolorum error quaerat illum!
      </p>
    </button>
  </div>
</div>
