<section class="products">
  <div class="container products-container">
    <h2 class="products__title">Products</h2>
    <ul class="products__set">
      <li class="products__card-1">
        <h3 class="products__title-assorti">Ice Cream</h3>
        <p class="products__item">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi fuga nihil ab qui
          quaerat corrupti accusantium, sequi temporibus facilis.
        </p>
      </li>
      <li class="products__card-2">
        <h3 class="products__title-assorti">Ice Coffee</h3>
        <p class="products__item">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi fuga nihil ab qui
          quaerat corrupti accusantium, sequi temporibus facilis.
        </p>
      </li>
      <li class="products__card-3">
        <h3 class="products__title-assorti">Milkshakes</h3>
        <p class="products__item">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi fuga nihil ab qui
          quaerat corrupti accusantium, sequi temporibus facilis.
        </p>
      </li>
    </ul>
  </div>
</section>
