<section class="review">
  <div class="review__container">
    <h2 class="visually-hidden">Отзывы</h2>
    <ul class="review__list">
        <li class="review__item">
          <img src="./images/desktop/review-1.png" class="review__img" alt="" width="85px" height="85px">
          </img>
          <div class="review__text-box">
            <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
            nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
            <span class="review__customer">Emily, Los Angeles</span>
          </div>
        </li>  
      <li class="review__item">
        <img src="./images/desktop/review-2.png" class="review__img" alt="" width="85px" height="85px">
        </img>
        <div class="review__text-box">
          <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          <span class="review__customer">Emily, Los Angeles</span>
        </div>
    </li>
      <li class="review__item">
        <img src="./images/desktop/review-3.png" class="review__img" alt="" width="85px" height="85px">
        </img>
        <div class="review__text-box">
          <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          <span class="review__customer">Emily, Los Angeles</span>
        </div>
    </li>
    </ul>
  </div>
</section>
