<section id="review" class="review">
  <div class="review__container">
    <h2 class="visually-hidden">Отзывы</h2>
    <ul class="review__list">
        <li class="review__item">
          <img srcset="./images/mobile/review-1.jpg 1x, ./images/mobile/review-1@2x.jpg 2x" src="./images/mobile/review-1.jpg" class="review__img" alt="" width="85" height="85">
          </img>
          <div class="review__text-box">
            <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
            nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
            <span class="review__customer">Emily, Los Angeles</span>
          </div>
        </li>  
        <li class="review__item">
        <img srcset="./images/mobile/review-2.jpg 1x, ./images/mobile/review-2@2x.jpg 2x" src="./images/mobile/review-2.jpg" class="review__img" alt="" width="85" height="85">
        </img>
        <div class="review__text-box">
          <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          <span class="review__customer">Emily, Los Angeles</span>
        </div>
        </li>
        <li class="review__item">
        <img srcset="./images/mobile/review-3.jpg 1x, ./images/mobile/review-3@2x.jpg 2x" src="./images/mobile/review-3.jpg" class="review__img" alt="" width="85" height="85">
        </img>
        <div class="review__text-box">
          <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
          nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          <span class="review__customer">Emily, Los Angeles</span>
        </div>
        </li>
    </ul>
  </div>
</section>
