.card-set {
  margin: -10px;

  @media screen and (min-width: 320px) and (max-width: 767.98px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1280px) {
    margin: -15px;
  }
}

.card {
  flex-basis: 100%;
  margin: 10px;
  border-radius: var(--card-radius);

  @media screen and (min-width: 768px) and (max-width: 1279.98px) {
    flex-basis: calc((100% - 3 * 20px) / 3);
    margin: 10px;
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}
