.contacts-section {
  padding-bottom: 113px;
  background: linear-gradient(to top, var(--secondary-bg-color) 86%, var(--primary-bg-color) 14%);

  @media screen and(min-width: 768px) {
    padding-bottom: 165px;
  }

  @media screen and(min-width: 1280px) {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 130px;
      background-image: url(/images/desktop/contacts-bg.png),
        url(/images/desktop/contacts-bg@2x.png);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}

.contacts-button--dark {
  width: 10px;
  height: 15px;
  fill: var(--dark-accent-color);
}
.contacts-button--light {
  width: 10px;
  height: 15px;
  fill: var(--white-text-color);
}

.contacts-button {
  display: flex;
  justify-content: center;
}

.contacts-button__btn {
  margin-right: 15px;
}

.contacts-set {
  display: flex;
  justify-content: center;
  margin: -10px;
  margin-bottom: 54px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 81px;
  }
  @media screen and (min-width: 1280px) {
    margin: -15px;
    margin-bottom: 86px;
  }
}
.contacts-set__item {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 280px;
  padding: 43px 20px;
  border-radius: var(--card-radius);
  border: rgba(212, 20, 67, 0.1);
  border-radius: var(--card-radius);
  background-color: var(--white-text-color);
  box-shadow: var(--card-shadow);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 3 * 20px) / 3);
    padding: 51px 32px 62px 31px;
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
    padding: 50px 44px 50px 43px;
    margin: 15px;
  }
}
.contacts-set__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: var(--coffee-color);
  border-radius: var(--card-label-radius);
  width: 73px;
  height: 28px;
  margin-bottom: 32px;
}

.contacts-set__name--color {
  background-color: var(--pistachio-color);
  width: 138px;
}

.contacts-set__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--primary-text-color);
}

.contacts-set__text {
  padding-bottom: 32px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--secondary-text-color);
  border-bottom: 1px solid var(--pseudo-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.66;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.83;
  }
}

.contacts-list {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid var(--pseudo-color);
}

.contacts-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.04em;
  text-align: left;
}

.contacts-list__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--light-accent-color);

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.contacts-address__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--secondary-text-color);
}
