.contacts-section {
  padding-bottom: 113px;
  background: linear-gradient(to top, var(--secondary-bg-color) 92%, var(--primary-bg-color) 8%);
  z-index: 1;

  @media screen and(min-width: 768px) {
    background: linear-gradient(to top, var(--secondary-bg-color) 90%, var(--primary-bg-color) 10%);
    padding-bottom: 165px;
  }

  @media screen and(min-width: 1280px) {
    position: relative;
    background: linear-gradient(to top, var(--secondary-bg-color) 88%, var(--primary-bg-color) 12%);

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0;
      top: 130px;
      background-image: url(/images/desktop/contacts-bg.png),
        url(/images/desktop/contacts-bg@2x.png);
      background-repeat: no-repeat;
      background-size: 100%;
      z-index: 1;
    }
  }
}

.contacts-button--dark {
  margin-left: 13px;
  width: 10px;
  height: 15px;
  fill: var(--dark-accent-color);
}
.contacts-button--light {
  margin-left: 13px;
  width: 10px;
  height: 15px;
  fill: var(--white-text-color);
}

.contacts-button {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}
.contacts-button__item:not(:last-child) {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-right: 15px;
    margin-bottom: 0px;
  }
}

.contacts-button__btn {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;

  z-index: 5;

  @media screen and (min-width: 768px) {
    margin-left: 0px;
  }
}

.contacts-set {
  display: flex;
  justify-content: center;
  margin: -10px;
  margin-bottom: 54px;

  @media screen and (min-width: 768px) {
    margin-bottom: 81px;
  }
  @media screen and (min-width: 1280px) {
    margin: -15px;
    margin-bottom: 86px;
  }
}
.contacts-set__item {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 280px;
  padding: 43px 20px;
  border-radius: var(--card-radius);
  border: rgba(212, 20, 67, 0.1);
  border-radius: var(--card-radius);
  background-color: var(--white-text-color);
  box-shadow: var(--card-shadow);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 3 * 20px) / 3);
    padding: 51px 32px 62px 31px;
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
    padding: 50px 44px 50px 43px;
    margin: 15px;
  }
}
.contacts-set__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: var(--coffee-color);
  border-radius: var(--card-label-radius);
  width: 73px;
  height: 28px;
  margin-bottom: 32px;
}

.contacts-set__name--color {
  background-color: var(--pistachio-color);
  width: 138px;
}

.contacts-set__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--primary-text-color);
}

.contacts-set__text {
  padding-bottom: 32px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--secondary-text-color);
  border-bottom: 1px solid var(--pseudo-color);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.66;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.83;
  }
}

.contacts-list {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid var(--pseudo-color);
}

.contacts-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.04em;
  text-align: left;
}

.contacts-list__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--light-accent-color);

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.contacts-address__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--secondary-text-color);
}

.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  transition: opacity var(--modal-tr-param), visibility var(--modal-tr-param);
  opacity: 1;
  z-index: 5;
  overflow-y: scroll;
}

.overlay.is-hidden-map {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-location {
  position: absolute;
  top: 50%;
  left: 50%;
  // margin: 93px auto;
  transform: translate(-50%, -50%);
  // width: 100%;
  height: 50vh;
  // min-width: 320px;
  // min-height: 450px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  // @media screen and (min-width: 480px) {
  //   width: 320px;
  //   min-width: auto;
  // }

  // @media screen and (min-width: 768px) {
  //   width: 600px;
  //   height: 450px;
  // }

  // @media screen and (min-width: 1280px) {
  //   width: 600px;
  //   height: 450px;
  // }
}

.modal-location__iframe {
  width: 320px;
  height: 450px;

  @media screen and (min-width: 768px) {
    width: 600px;
    height: 450px;
  }

  // @media screen and (min-width: 1280px) {
  //   width: 600px;
  //   height: 450px;
  // }
}
.modal-location__res {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  top: 8px;
  left: 280px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill var(--modal-tr-param);
  background-color: var(--primary-bg-color);
  fill: var(--dark-accent-color);
  transition: var(--modal-tr-param);

  &:focus,
  &:hover {
    fill: var(--white-text-color);
    background-color: var(--upscroll-btn-color);
  }

  @media screen and (min-width: 768px) {
    left: 560px;
  }

  // @media screen and (min-width: 1280px) {
  //   width: 600px;
  //   height: 450px;
  // }
}

.overlay-two {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--modal-tr-param), visibility var(--modal-tr-param);
  opacity: 1;
  z-index: 5;
  overflow-y: scroll;
}

.overlay-two.is-hidden-fran {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-franchise {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  max-height: 100vh;
  // overflow: scroll;
  padding: 40px 30px;
  background-color: var(--menu-bg-color);

  @media screen and (max-height: 600px) {
    overflow-y: scroll;
  }

  @media screen and (min-width: 768px) {
    width: 500px;
  }
}

.modal-franchise__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 0px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill var(--modal-tr-param);
  background-color: var(--primary-bg-color);
  fill: var(--dark-accent-color);
  transition: fill var(--modal-tr-param);

  &:focus,
  &:hover {
    background-color: var(--dark-accent-color);
    fill: var(--white-text-color);
  }

  @media screen and (min-width: 768px) {
    top: 15px;
    right: 15px;
  }
}

.modal-franchise__set {
  margin-bottom: 10px;
}

.modal-franchise__name {
  font-family: var(--accent-font);
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: var(--dark-accent-color);
}

.modal-franchise__set {
  display: block;
}

.modal-franchise__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.88;
  letter-spacing: 0.04em;
  text-align: left;
  color: var(--primary-text-color);
}
