.backdrop-about {
  z-index: 1000;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(247, 177, 209, 0.404);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.modal-about {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(1turn);
  height: 96vh;
  max-width: 500px;
  max-height: 550px;
  border-radius: 22px;
  background-color: #e17992;
  padding: 20px;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
}

.button-close {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: initial;
}
