.products__title {
  font-family: var(--accent-font);
  font-weight: normal;
  font-size: 34px;
  height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--dark-accent-color);
  fill: solid var(--dark-accent-color);
  text-transform: uppercase;
}

.products__title-assorti {
  font-family: var(--accent-font);
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-text-color);
  fill: solid var(--white-text-color);
  text-transform: uppercase;
}
