.products-container {
  padding-top: 120px;
  padding-bottom: 100px;
}

.products__card-1 {
  flex-basis: 100%;
  text-align: center;
  width: 280px;
  height: 485px;
  background-color: var(--accent-bg-color);
  border-radius: var(--card-radius);
}

.products__card-2 {
  flex-basis: 100%;
  text-align: center;
  width: 280px;
  height: 485px;
  background-color: var(--coffee-color);
  border-radius: var(--card-radius);
}

.products__card-3 {
  flex-basis: 100%;
  text-align: center;
  width: 280px;
  height: 485px;
  background-color: var(--pistachio-color);
  border-radius: var(--card-radius);
}

.products__title {
  font-family: var(--accent-font);
  font-weight: normal;
  font-size: 34px;
  height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--dark-accent-color);
  text-transform: uppercase;
}

.products__title-assorti {
  font-family: var(--accent-font);
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-text-color);
  text-transform: uppercase;
}

.products__item {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-text-color);
}
