.products-container {
  padding-top: 120px;
  padding-bottom: 100px;
}

.products__card-1 {
  flex-basis: 100%;
  text-align: center;
  background-color: var(--accent-bg-color);
  border-radius: var(--card-radius);

  @media screen and (max-width: 767.98px) {
    max-width: 280px;
    height: 485px;
  }

  @media screen and (min-width: 768px) {
    max-width: 220px;
    height: 485px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 330px;
    height: 525px;
  }
}

.products__card-2 {
  flex-basis: 100%;
  text-align: center;
  background-color: var(--coffee-color);
  border-radius: var(--card-radius);

  @media screen and (max-width: 767.98px) {
    max-width: 280px;
    height: 485px;
  }

  @media screen and (min-width: 768px) {
    max-width: 220px;
    height: 485px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 330px;
    height: 525px;
  }
}

.products__card-3 {
  flex-basis: 100%;
  text-align: center;
  background-color: var(--pistachio-color);
  border-radius: var(--card-radius);

  @media screen and (max-width: 767.98px) {
    max-width: 280px;
    height: 485px;
  }

  @media screen and (min-width: 768px) {
    max-width: 220px;
    height: 485px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 330px;
    height: 525px;
  }
}

.products__title-assorti {
  font-family: var(--accent-font);
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-text-color);
  text-transform: uppercase;
}

.products__item {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--white-text-color);
}
